<script setup lang="ts">
import SubscriptionComp from './components/SubscriptionComp.vue'

const logs = ref<any[]>([])
navigator.serviceWorker.addEventListener('message', (event) => {
  console.log('Received a message from service worker: ', event.data)
  logs.value.push(event.data)
})
</script>

<template>
  <div>
    <n-space justify="center" align="center" class="h-screen">
      <div>
        <n-card title="Logs">
          <n-scrollbar style="max-height: 500px">
            <div v-for="(log, index) in logs" :key="index">{{ log }}</div>
          </n-scrollbar>
        </n-card>
        <subscription-comp class="mt-4" />
      </div>
    </n-space>
  </div>
</template>
